div.css-18e3th9.egzxvld2 {
    background-color: rgb(38, 39, 48);
    padding: 3% 3% 3% 3%;
    #text-align: center;
}

div.css-1ht1j8u.e16fv1kl0 {
    text-align: center;
}

div.css-1ht1j8u.e16fv1kl0 {
    background-color: rgb(0, 0, 0);
    border: 0px solid rgb(0, 0, 0);
    #opacity: 1;
    padding: 5% 0% 0% 0%;
    border-radius: 0px;
    #color:rgb(0, 0, 0);
}